<!-- <footer id="footerhome" class="bg-color footer-pos">
  <nav class="navbar navbar-inverse">
    <div class="container ptb-10">
      <img alt="Brand" height="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAB+0lEQVR4AcyYg5LkUBhG+1X2PdZGaW3btm3btm3bHttWrPomd1r/2Jn/VJ02TpxcH4CQ/dsuazWgzbIdrm9dZVd4pBz4zx2igTaFHrhvjneVXNHCSqIlFEjiwMyyyOBilRgGSqLNF1jnwNQdIvAt48C3IlBmHCiLQHC2zoHDu6zG1iXn6+y62ScxY9AODO6w0pvAqf23oSE4joOfH6OxfMoRnoGUm+de8wykbFt6wZtA07QwtNOqKh3ZbS3Wzz2F+1c/QJY0UCJ/J3kXWJfv7VhxCRRV1jGw7XI+gcO7rEFFRvdYxydwcPsVsC0bQdKScngt4iUTD4Fy/8p7PoHzRu1DclwmgmiqgUXjD3oTKHbAt869qdJ7l98jNTEblPTkXMwetpvnftA0LLHb4X8kiY9Kx6Q+W7wJtG0HR7fdrtYz+x7iya0vkEtUULIzCjC21wY+W/GYXusRH5kGytWTLxgEEhePPwhKYb7EK3BQuxWwTBuUkd3X8goUn6fMHLyTT+DCsQdAEXNzSMeVPAJHdF2DmH8poCREp3uwm7HsGq9J9q69iuunX6EgrwQVObjpBt8z6rdPfvE8kiiyhsvHnomrQx6BxYUyYiNS8f75H1w4/ISepDZLoDhNJ9cdNUquhRsv+6EP9oNH7Iff2A9g8h8CLt1gH0Qf9NMQAFnO60BJFQe0AAAAAElFTkSuQmCC"
        width="20">

      <ul class="navbar-nav ml-auto header-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Company
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Terms & Conditions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Dashboard</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto header-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Connect
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Email Us
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">FAQs</a>
        </li>
      </ul>
    </div>
  </nav>
</footer> -->

<footer id="footerhome" class="bg-color footer-pos bd-footer text-muted">
    <div class="container">
      <ul class="bd-footer-links">
        <li><a href="https://github.com/twbs/bootstrap">About Us</a></li>
        <li><a href="https://twitter.com/getbootstrap">Terms & Conditions</a></li>
        <li><a href="https://twitter.com/getbootstrap">Email Us</a></li>
      </ul>
      <p>Designed and built with all the love in the world by <a href="https://twitter.com/mdo" target="_blank">@mdo</a> and <a href="https://twitter.com/fat" target="_blank">@fat</a>. Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>
    </div>
  </footer>