
<!-- <app-header></app-header>
<div class="container" style="">
  <app-admin-header></app-admin-header>
  <div class="row">
    <div class="col-md-8">
        <app-appointment-calendar></app-appointment-calendar>
    </div>
    <div class="col-md-4">
      <p>Here comes the detail page</p>
      <app-admin-detail></app-admin-detail>
   </div>
  </div>
</div>
<app-footer></app-footer> -->


<app-header></app-header>
<div class="container" style="">
  <app-admin-header></app-admin-header>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>